.calculator-container {
  text-align: center;
  margin-top: 20px;
}

.input-style {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.button-container {
  margin-bottom: 20px;
}

.button-style {
  width: 40px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.history-list {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
